
.app__gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--color-black);
    padding: 4rem 0 5rem 5rem;
}

.app__gallery-content {
    margin-right: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
}

.app__gallery-images{
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-right: 3rem;
    border-radius: 30px !important;
}

.splide {
    padding: 10px;
}

.app__gallery-images_items {
    border-radius: 30px !important;
    cursor: pointer;
    transition: 0.5s ease;
    margin-right: 45px !important;
    opacity: 1;
}

.app__gallery-images_items:hover {
    opacity: 0.5;
}

.gallery__image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    transition: 0.5s ease;
    opacity: 0;
    
}

.app__gallery-images_items:hover .gallery__image-icon{
    opacity: 1 ;
}


@media screen and (min-width: 2000px) {
    .app__gallery-content {
        min-width: 1000px;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 1150px) {
    .app__gallery{ 
        flex-direction: column;
        padding: 2rem
    }

    .app__gallery-images {
        max-width: 100% !important;
        margin: 3rem 0;
        overflow: hidden;
        display: inline;
    }
}

@media screen and (max-width: 850px) {

    .app__gallery-images_items {
        border-radius: 20px !important;
        margin-right: 15px !important;
        width: 75% !important;
    }    
}



